#help-item {
  background-color: rgba(255,255,255,0.05);
  margin-bottom: 2vh;
  width: 30vw;
  max-width: 30vw;
  border-radius: 10px;
}

p {
  color: white;
}

#title {
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px 10px 0 0 ;
  height: 4vh;
}

#title p {
  font-weight: bold;
}
