<div id="title">
    <app-title title="Home"></app-title>
</div>
<div class="content">
    <div>
        <div class="titlediv">
            <h2>HyperChannel</h2>
        </div>
        <img alt="HyperChannnel" src="assets/hyperchannel.png" class="image">
        <p>Tronic keeps your Servers clean with channels that only exist when needed!</p>
    </div>
    <div>
        <div class="titlediv">
            <h2>Autocorrection</h2>
        </div>
        <img alt="Autocorrection" src="assets/autocorrect.png" class="image">
        <p>Over are the times of rewriting command until they are 101% correct.<br>
        With Tronic you wont need to think about typing anymore.</p>
    </div>
    <div>
        <div class="titlediv">
            <h2>YouTubeMusic</h2>
        </div>
        <img alt="YouTubeMusic" src="assets/music.png" class="image">
        <p>With Tronic you have no more silly video noises in your tracks or random videos in your queue</p>
    </div>
    <div>
        <div class="titlediv">
            <h2>Quick Actions</h2>
        </div>
        <img alt="Quick Actions" src="assets/actions.png" class="image">
        <p>With Tronic it is always easy to pause or skip a song without the annoying typing</p>
    </div>
</div>

