h1 {
  font-size: 72px;
  line-height: 10vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
